services:
  webpush-scheduler:
    build: .
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    env_file:
      - .env
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --spider -q http://localhost:${PORT:-3000}/api/health || exit 1",
        ]
      interval: 2s
      timeout: 5s
      retries: 3
      start_period: 1s
